# node modules
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# build
dist/
build/

# coverage
coverage/